body{
    background-color: #101014;
}

.login-full{
    width: 1407px;
    height: 986px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #56566c;
    border-radius: 30%;

}
.conteinter-login-register{
    width: 838px;
    height: 634px;
    justify-content: center;
    justify-items: center;
}
.conteinter-login{
    width: 838px;
    height: 406px;
    background-color: #333340;
    border-radius: 30%;
}    
h1{
 color: #B9B9B9;
 font-size: 61.04px;
 font-family: "Outfit", sans-serif;
 font-weight: 600;
}
h2{
    font-size: 48px medium;
    font-family: "Outfit", sans-serif;
    font-weight: normal;
}
h4{
    font-size: 32px;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
}
p{
    font-size: 16px;
    font-family: "Outfit", sans-serif;
    font-weight: normal;
}
.p-semibold{
    font-size: 16px;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
}
