html,body {
  margin:0;
}

#fondo {
  background:url(../img/img-tp5/Fondo.jpg) repeat-X;
  animation: movebg 9s linear infinite;
}

#agua {
  background:url(../img/img-tp5/Agua.jpg) repeat-x;
  animation: movebg 6s linear infinite;
  /* Posicionamos el mar, para que no solape al cielo */
  position:relative;
  top:145px;
  /* Pequeño degradado interior para suavizar el mar. Puede consumir muchos recursos */
  box-shadow:10px 10px 45px RGBA(0,0,0, 0.85) inset;
}


#sky {
  background:url(https://cdn.rawgit.com/ManzDev/cursos-assets/gh-pages/css3/monkey-sky.png) repeat-X;
  animation: movebg 9s linear infinite;
}


@keyframes movebg {
  0% {
    background-position: 550px
  }

  100% {
    background-position: 0
  }
}

